{% extends 'shared/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="text-light fw-bolder" style="font-size: 70px;">Start Something</p>
        <a href="{% url 'account:send_otp' %}"><button class="px-4 py-2 mt-3 fw-bold fs-5 rounded-pill border-0 text-dark"
            style="background-image: linear-gradient(180deg, #f6e66e, #fe817b);">Create profile</button></a>
            <a href="{% url 'Dating:login' %}"><button class="px-4 py-2 mt-3 fw-bold fs-5 rounded-pill border-0 text-light"
                style="background-image: linear-gradient(180deg, #f4443b, #fe817b);">Login</button></a>
    </div>
</div>
{% endblock content %}